# Machine Learning

*Лектор: Екатерина Лобачева*

*Факультет экономических наук НИУ ВШЭ, 2017-18 учебный год*

[Страница курса](http://wiki.cs.hse.ru/Машинное_обучение_(факультет_экономических_наук%29)

## Домашнее задание №1
Задание основано на материалах курса [Data analysis (Software Engineering)](http://wiki.cs.hse.ru/Data_analysis_(Software_Engineering%29) (ФКН НИУ ВШЭ).

Вам необходимо анализировать набор данных [adult.data](http://archive.ics.uci.edu/ml/datasets/Adult) (источник: UCI Machine Learning Repository) с помощью Python, pandas, numpy, scipy.

Чтобы выполнить работу, скачайте настоящий ipynb-файл, откройте его в *Jupyter Notebook*, впишите решения в оставленные для этого ячейки (при необходимости можно добавлять новые ячейки), приводя полный работающий код, а также все необходимые пояснения и ответы (для этого нужно использовать markdown-ячейки). Вы можете вставлять формулы с помощью TeX-разметки в markdown-ячейки. После выполнения работы необходимо вытащить ipynb-файл из Jupyter (например, с помощью *File → Download as… → IPython Notebook*).

**Подсказка.** Файл [adult.data](http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data) является CSV-файлом, но в нём отсутствуют имена переменных — они (вместе с описаниями) приводятся в отдельном файле [adult.names](http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.names). При загрузке датафрейма с помощью `pd.read_csv` используйте параметры `header=None` (чтобы первая строка не воспринималась как строка с именами переменных) и `names=["age", "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "50K"]`. Чтобы убрать лишние пробелы после запятых, которые есть в файле, следует добавить опцию `skipinitialspace=True`.

### Вопрос 1
Сколько мужчин и женщин в выборке?

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
names=["age", "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "50K"]

In [3]:
data = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data', header = None, skipinitialspace = True,names = names)

In [4]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,50K
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
len(data[data['sex'] == 'Male'])

21790

$\uparrow$

количество мужиков на Титанике

In [6]:
len(data[data['sex'] == 'Female'])

10771

$\uparrow$

количество осыбей женского пола на Титанике

### Вопрос 2
Каков средний возраст мужчин?

In [7]:
data[data['sex'] == 'Male']['age'].mean()

39.43354749885268

Ура, мы узнали, сколько в среднем было мужчинам

### Вопрос 3
Какова доля граждан США?

In [ ]:
len(data[data['native-country'] == 'United-States'])/len(data)

0.895857006848684

А вот и доля подъехала

### Вопрос 4
Нарисовать распределение уровня образования в виде столбчатой диаграммы (bar plot).

In [12]:
data1 = pd.DataFrame(data['education'].value_counts())
data1.index

Index(['HS-grad', 'Some-college', 'Bachelors', 'Masters', 'Assoc-voc', '11th',
       'Assoc-acdm', '10th', '7th-8th', 'Prof-school', '9th', '12th',
       'Doctorate', '5th-6th', '1st-4th', 'Preschool'],
      dtype='object')

In [ ]:
plt.bar(data1.index, data1)

Не знаю, что с графиком, у меня при разных вариантах умирает kernel. Наверное, мой

### Вопрос 5
Найти среднее и стандартное отклонение переменной "final weight" (fnlwgt) для разведённых людей?

In [4]:
data[data['marital-status'] == 'Divorced']['fnlwgt'].mean()

185802.79045689848

Вот вам среднее

In [5]:
data[data['marital-status'] == 'Divorced']['fnlwgt'].std()

105646.78945933603

А вот и стандартное отклонение

### Вопрос 6
Правда ли, что люди, зарабатывающие более 50 тыс. в основном имеют высшее образование?

In [6]:
data1 = data[data['50K'] == '>50K']['education'].value_counts()
data1[['Bachelors','Masters', 'Doctorate']].sum()/data1.sum()

0.4445861497258003

Если за правду считать мажорируещее большинство (50% + 1), то неправда!

### Вопрос 7
Каков максимальный возраст мужчин и женщин каждой расы?

In [7]:
data.groupby(['race', 'sex'])['age'].max()

race                sex
Amer-Indian-Eskimo  Female    80
                    Male      82
Asian-Pac-Islander  Female    75
                    Male      90
Black               Female    90
                    Male      90
Other               Female    74
                    Male      77
White               Female    90
                    Male      90
Name: age, dtype: int64

### Вопрос 8
Люди из каких стран работают как фермеры/рыбаки?

In [8]:
list(data[data['occupation'] == 'Farming-fishing']['native-country'].value_counts().index)

['United-States',
 'Mexico',
 'Puerto-Rico',
 '?',
 'Guatemala',
 'Philippines',
 'Vietnam',
 'Canada',
 'El-Salvador',
 'Italy',
 'Cuba',
 'Yugoslavia',
 'Japan',
 'Germany',
 'Poland',
 'Hong',
 'Ireland',
 'France',
 'England',
 'Cambodia',
 'Portugal']

Очевидно, из тех, где много лесов и водоемов.....

### Вопрос 9
Рассмотрим два отношения 1) количество мужчин-бакалавров к количеству мужчин-магистров и 2) количество женщин-бакалавров к количеству женщин-магистров. Какое отношение больше?

In [9]:
a =len(data[(data['education'] == 'Bachelors') & (data['sex'] == 'Male')])/len(data[(data['education'] == 'Masters') & 
                                                                                 (data['sex'] == 'Male')])
print(a)

3.14743049705139

In [10]:
b = len(data[(data['education'] == 'Bachelors') & (data['sex'] == 'Female')])/len(data[(data['education'] == 'Masters') & 
                                                                                 (data['sex'] == 'Female')])
print(b)

3.0205223880597014

Отношение количества мужчин-бакалавров к количеству мужчин-магистров больше!

### Вопрос 10
Каково максимальное количество рабочих часов в неделю? Как много людей работают столько часов в неделю? Каков их заработок?

In [11]:
data['hours-per-week'].max() #я бы подохла столько работать -_-

99

In [12]:
len(data[data['hours-per-week'] == data['hours-per-week'].max()]) #сколько бедолаг :с

85

In [13]:
data[data['hours-per-week'] == data['hours-per-week'].max()]['50K'].value_counts()

<=50K    60
>50K     25
Name: 50K, dtype: int64

25 из них богачи. Стоит ли оно того?.......